* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.row .item > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.row .item > .carousel {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
/* carousel-indicators */
.carousel-indicators {
    overflow: hidden;
    display: flex !important;
    justify-content: space-between !important;
    margin-right: unset !important;
    margin-left: unset !important;
    height: 30% !important;
    margin-bottom: unset !important;
    padding-left: unset !important;
    padding-right: unset !important;
}
/* carousel-inner */
.carousel-inner {
    height: 70% !important;
    justify-content: space-between !important;
}
.carousel-indicatorsZ button {
    width: 18% !important;
    height: 100% !important;
    margin-left: unset !important;
    margin-right: unset !important;
}
.carousel-indicatorsZ button img {
    object-fit: cover;
    object-position: center;
}